<h1><%= t 'comments.show.title' %></h1>
<%= @comment.description %>
<%= link_to t('action_link.destroy', model: Comment.model_name.human), [@commentable, @comment], method: :delete, class: 'btn btn-danger' %>
<%= link_to t('action_link.edit', model: Comment.model_name.human), [:edit, @commentable, @comment], class: 'btn btn-success' %>
